<div class="notice"><%= flash[:notice] %></div>

<h2 class="welcome">Welcome <%= current_user.name.capitalize %></h2>
<% current_user.favorite_cities.each do |favorite_city| %>
<div>
  <div class="col-sm-6 col-md-4 ">
    <div class="thumbnail">
      <div class="caption cities-index">
        <h1><%= link_to favorite_city.city_name, favorite_city_path(favorite_city.id) %></h1>

        <% cache(favorite_city,expires_in: 1.minutes) do %>
        <h3><%=WeatherApi.get_weather(favorite_city.city_name, @unit)["main"]["temp"].round  %>&#8451;</h3>
        <% end %>

        <p><%= link_to 'Delete', favorite_city_path(favorite_city.id), :method => :delete, data: {:confirm => "You sure?"} ,:title => "Delete #{favorite_city.city_name}", class:"btn btn-default"%></p>
      </div>
    </div>
  </div>
</div>
<% end %>
