<div class="container favorite show-fav">
  <div class="col-sm-8 col-md-6">
    <div class="thumbnail">
      <div class="caption">
        <% cache("key",expires_in: 1.minutes ) do %>
        <%= Time.now %>
        <h1><%= @favorite_city.city_name %></h1>

        <h3> <%= @current_weather["weather"][0]["description"].capitalize!%> </h3>

        <h3> Main:</h3> <h4><%= @current_weather["weather"][0]["main"]%> </h4>

        <h3> Current temperature: </h3> <h4> <%= @current_weather["main"]["temp"].round %> &#8457;</h4>

        <h3> Min temperature: </h3> <h4> <%= @current_weather["main"]["temp_min"].round %> &#8457;</h4>

        <h3> Max temperature:</h3> <h4> <%= @current_weather["main"]["temp_max"].round %> &#8457;</h4>

        <h3> Humidity: </h3> <h4> <%= @current_weather["main"]["humidity"]%> %  </h4>

        <h3> Wind speed: </h3> <h4><%= @current_weather["wind"]["speed"]%></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
